<h2><%= @guide.name %></h2>

<div>
  <%= @guide.description %>
</div>
<hr/>

<ul>
  <% @guide.steps.each do |s| %>
    <li><%= link_to truncate(s.name, length: 80), guide_step_path(@guide, s) %></li>
  <% end %>
</ul>

<%= link_to "Create New Step", new_guide_step_path(@guide) %>

<hr/>

<%= link_to "Remove", @guide, method: :delete, data: { confirm: 'Are you sure?' } %>
|
<%= link_to "Guides", guides_path %>
